<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ERUS-FAAS-Integration" value="https://pkgs.dev.azure.com/edenred-us-fleet/ERUS-FAAS/_packaging/ERUS-FAAS-Integration/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>